
$dimTop: 0px;
$dimLeft: 0px;
$dimWidth: 180px;
$dimHeight: 48px;

%reset{
    margin:0;
    border:0;
    padding:0;
    outline: 0;
    min-width: unset;
    min-height: unset;
    max-width: unset;
    max-height: unset;
    width: unset;
    height: unset;
    box-sizing: border-box;
}

%position{
    //@extend %reset;
    position: absolute;
    top: 0px;
    left: 0px;
    //bottom: 0px;
    ///right: 0px;
    /*font-size: 18px;
    font-family: monospace;*/
}
%nativeInput{
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
}

.masked-input{
  position:relative;
  display:inline-block;
  vertical-align: top;
  border:1px solid #AAA;
  @extend %reset;
  .dim{
    @extend %reset;
    min-width: $dimWidth;
    min-height: $dimHeight;
    max-width: $dimWidth;
    max-height: $dimHeight;
    width: $dimWidth;
    height: $dimHeight;
  }
  .in{
    @extend %position;
    //opacity:0.01;
    //color:#00000077;
    //background:#00000000;
  }
  .out{
    @extend %position;
    top:27px;
  }
}