
$dimTop: 0px;
$dimLeft: 0px;
$dimWidth: 180px;
$dimHeight: 24px;

%reset{
    margin:0;
    border:0;
    padding:0;
    outline: 0;
    min-width: unset;
    min-height: unset;
    max-width: unset;
    max-height: unset;
    width: unset;
    height: unset;
}

%position{
    @extend %reset;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.masked-input{
  position:relative;
  display:inline-block;
  vertical-align: top;
  border:1px solid #AAA;
  @extend %reset;
  .dim{
    @extend %reset;
    min-width: $dimWidth;
    min-height: $dimHeight;
    max-width: $dimWidth;
    max-height: $dimHeight;
    width: $dimWidth;
    height: $dimHeight;
  }
  .in{
    @extend %position;
    opacity:0.01;
  }
  .out{
    @extend %position;
  }
}